<div class="fields">
  <table class="table table-condensed">
  <%= global_parameter_header %>
  <% @hostgroup.ancestors.map(&:group_parameters).flatten.each_with_index do |parameter, i|  %>
    <% next if @hostgroup.group_parameters.map(&:name).include? parameter.name %>
    <tr>
      <td><%= content_tag :span, trunc_with_tooltip(parameter.name,26), :id => "parent_parameter_#{i}_name"%></td>
      <td>
        <div class="input-group">
          <%= text_area_tag("parent_parameter_#{i}_value", parameter.value, :class => "form-control", :rows => 1, :disabled => true ) %>
          <span class="input-group-btn">
            <%= fullscreen_button('$(this).parent().prev()') %>
          </span>
        </div>
      </td>
    </tr>
  <% end %>
  </table>
</div>
